<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <!-- <link rel="stylesheet" href="/styles/home.css"> -->
  </head>
  <body>
    <div class="container">
      <a href="/signup"><button>Sign Up</button></a>
      <a href="/login"><button>Log In</button></a>
  </div>
  </body>
</html>