
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <link rel="stylesheet" href="/styles/sign-log.css">
  </head>
  <body>

    <div class="container">
      <h1>Log In</h1>
      
    <form action="/log-in" method="POST">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
      </div>

      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </div>

      <div>
        <button type="submit">Log In</button>
      </div>
    </form>

    <p>Don't have an account? <a href="/sign-up">Sign up here</a></p>
    </div>

    
  </body>
</html>
